*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #DDDCDD;
    position: relative;
}
.nav-child{
    padding:0vw 3vw
    
}
.nav-child{
    display: flex;
    align-items: center;
    gap: 3vw;
    position: relative;
}
.second-child{
    font-size: large;
}
.signin{
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 200;
    color: white;
    border: none;
    background-color: #3C5964;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
.signin:active{
    box-shadow: 0px 0px 2px black;

}
.nav-child i{
    display: none;
}
.container{
    display: flex;
    height: calc(100%-70px);
    margin: 5vh 2.5vw;
}
h1{
    font-size: 4vw;
}
p{
    color: #4f4e4f;
    font-size: 1.2vw;
    font-weight: 700;
}


 p{
    margin-top: 2.5vw;
    margin-bottom: 4vw;
}
.container-first{
    width: 60%;
    padding-right: 4vw;
}
.container-second{
    width: 30%;
}
.Explore{
    padding: 1vw 1.5vw;
    font-weight: 600;
    font-size: medium;
    border: 2px solid rgb(255, 127, 81) ;
    background-color:rgb(255, 127, 81);
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
.Explore:active{
    box-shadow: 0px 0px 2px black;

}
span{
    color:rgb(248, 127, 84)
}
@media (max-width:768px) and (max-width: 1023px){
    .navbar{
        background-color: lightseagreen;
        color: white;
        height: 80px;
    }
    .first-child{
        font-size: 6vw;
        
    }
    .second-child{
        display: none;
    }
    .nav-child i{
        display: block;
        margin-right: 1.4vw;
        font-size: 32px;
    }

    .container{
        display: flex;
        height: calc(100% - 80px);
        flex-direction: column;
        gap: 5vw;
    }
    h1{
        font-size: 6.5vw;
        text-align: center;
    }
    p{
        color: #4f4e4f;
        font-size:3vw;
        font-weight: 700;
        padding-left: 3vw;
        margin-bottom: 5vw;
    }
    .Explore{
        margin-left:3vw ;
        font-size: 12px;
        font-weight: 400;
    }
    img{
        width: 100%;
    }
    
     p{
        margin-top: 2.5vw;
        margin-bottom: 4vw;
    }
    .container-first{
        width: 100%;
        height: 50%;
        padding-bottom: 5vw;
    }
    .container-second{
        width: 100%;
        height: 50%;
    }
   
}